* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #34495e;
}

.logo {
    font-size: 12px;
    padding-inline-start: 12px;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    padding: 0px 10px;
}

.main-nav li {
    margin: 0 15px;
}

header {
    background: #e7e6e6;
    padding: 11px 0;
}

.main-nav a {
    transition: color 0.4s cubic-bezier(0.2, 0, 0, 1);
}

.main-nav a:hover {
    color: #03dee7;
}